<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block header %}
    Hello everyone!
{% endblock header %}
{% block content %}
    <p>Listen:<br>"Houii."<br><br>What?</p>
    <img src="{% static 'images/factorio.png'%}">
    <p>
        <button><a href="http://127.0.0.1:8000/sign-in">sign in</a></button>
        <button>sign up</button><br>
        <button><a href="http://127.0.0.1:8000/about">about us</a></button>
        <button><a href="http://127.0.0.1:8000/contact">contact with us</a></button>
    </p>
{% endblock content %}
</html>