h1, h2{color:navy;}
footer{font-size:small;}
img{width:350px;}
body{font-family:Verdana;}
hr{background-color:blue;}
div{margin-left:40px;}
input{
    border-radius:12px;
    background-color:cornsilk;
}
ul{
    color:navy;
    padding-left:30px;
}
button{
    margin-top:5px;
    width:160px;
    height:40px;
    border-radius:12px;
}
.sidebar{
    margin-left:0px;
    margin-top:0px;
    position:relative;
    float:right;
}
.sidebar button{
    background-color:lightskyblue;
}
.auto_transfer_text{
    overflow-wrap:break-word;
    word-wrap:break-word;
    -webkit-hyphens:auto;
    -ms-hyphens:auto;
    hyphens:auto;
    hyphenate-limit-chars:10 4 4;
    margin-right:20px;
}