<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/post_default.css' %}">
{% endblock head_extra %}
{% block right_bar %}
    <button onclick="location.href='http://127.0.0.1:8000'">To main page>></button>
{% endblock right_bar %}
{% block header %}
    Sign in:
{% endblock header %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        {% for field in form %}
            {{ field.label_tag }}<br>
            {% render_field field class+='input' %}
            <div class="error">{{ field.errors }}</div>
        {% endfor %}
        <input type="submit" value="Send">
    </form>
{% endblock content %}
</html>