<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% block header %}
    {{ user.username }} account:
{% endblock header %}
{% block right_bar %}
    <button onclick="location.href='http://127.0.0.1:8000/'">To main page>></button><br>
    <button onclick="location.href='http://127.0.0.1:8000/accounts/logout/'">Log out>></button>
{% endblock right_bar %}
{% block content %}
    <h2>Your cash: {{ cash }}</h2>
    <h2>Your activity:</h2>
    <ul>
        {% for value in activity %}
            <li>{{ value }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
</html>