<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/post_default.css' %}">
{% endblock head_extra %}
{% block right_bar %}
    <button onclick="location.href='{% url 'main' %}'">To main page>></button>
    {% if user.is_superuser %}
        <br><button onclick="location.href='{% url 'admin:index' %}'" style="background-color:orange;">To admin panel>></button>
    {% endif %}
{% endblock right_bar %}
{% block header %}
    Enter data please:
{% endblock header %}
{% block content %}
    <form method="POST">
        {% csrf_token %}
        <div class="error">{{ comment }}</div>
        {% for field in form %}
            {{ field.label_tag }}<br>
            {{ field }}
            <div class="error">{{ field.errors }}</div>
        {% endfor %}
        <input type="submit" value="Send">
    </form>
{% endblock content %}
</html>