<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block right_bar %}
    {% if user.is_authenticated %}
            <button onclick="location.href='http://127.0.0.1:8000/create-question/'">Create question>></button><br>
            <button onclick="location.href='http://127.0.0.1:8000/accounts/profile/'">To your profile>></button>
    {% endif %}
{% endblock right_bar %}
{% block header %}
    Hello everyone!
{% endblock header %}
{% block content %}
    <p>Listen:<br>"Houii."<br><br>What?</p>
    <img src="{% static 'images/factorio.png'%}">
    {% if user.is_anonymous  %}
        <p>
            <button onclick="location.href='http://127.0.0.1:8000/accounts/login/'">sign in</button>
            <button onclick="location.href='http://127.0.0.1:8000/accounts/signup/'">sign up</button><br>
        </p>
    {% endif %}
    <h1>Latest questions:</h1>
    <ul>
        {% for question in latest_questions %}
            <li><a href="http://127.0.0.1:8000/question-view/{{ question.id }}/">{{ question.title }}</a></li>
        {% endfor %}
    </ul>
{% endblock content %}
</html>