<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/post_default.css' %}">
{% endblock head_extra %}
{% block right_bar %}
    {% if user.is_authenticated %}
            <button onclick="location.href='{% url 'create-question' %}'">Create question>></button><br>
            <button onclick="location.href='{% url 'profile' %}'">To your profile>></button>
            {% if user.is_superuser %}
                <br><button onclick="location.href='{% url 'admin:index' %}'" style="background-color:orange;">To admin panel>></button>
            {% endif %}
    {% else %}
        <p>
            <button onclick="location.href='{% url 'login' %}'">sign in</button><br>
            <button onclick="location.href='{% url 'signup' %}'">sign up</button>
        </p>
    {% endif %}
{% endblock right_bar %}
{% block header %}
    <p class="test_animation_text">Hello everyone!</p>
{% endblock header %}
{% block content %}
    <h3>What you can do? All in the title!(and little more).<br>Pleasant explore!</h3>
    <h1>Latest questions:</h1>
    <ul>
        {% for question in latest_questions %}
            <li><a href="{% url 'question-view' question.id %}">{{ question.title }}</a>
        {% endfor %}
    </ul>
    <h1>Search your question!</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="error">{{ comment }}</div>
        {{ form.content.label_tag }}
        {{ form.content }}
        <div class="error">{{ form.errors }}</div>
        <input type="submit" value="Search">
    </form>
    {% if found_questions %}
        <ul>
            {% for question in found_questions %}
                <li><a href="{% url 'question-view' question.id %}">{{ question.title }}</a>
            {% endfor %}
        </ul>
    {% else %}
        <br>Questions not found.
    {% endif %}
{% endblock content %}
</html>