<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Like test</title>
</head>
<body>
    {% for _ in '0123456789' %}
        <form id="like" method="POST">
            <input type="button" value="Like">
            <input type="hidden" id='object_type' value="question">
            <input type="hidden" id='object_id' value="36">
        </form>
    {% endfor %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $('#like, _').click(function(){
            $.ajax({
                type: 'POST',
                url: '{{ request.get_full_path }}',
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'object_type': $('#object_type').val(), 'object_id': $('#object_id').val()},
                dataType: 'json',
                success: function(response){
                    console.log('Ajax worked ok.');
                    alert(response.likes_value);
                    console.log(response.c);
                },
                error: function(rs, e){
                    console.log('Error in ajax!');
                    console.log(rs.c);
                }
            });
        })
    </script>
</body>
</html>