<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/right_bottom_text.css' %}">
    <link rel="stylesheet" href="{% static 'css_styles/post_default.css' %}">
    <link rel="stylesheet" href="{% static 'css_styles/like_post_default.css' %}">
{% endblock head_extra %}
{% block right_bar %}
    <button onclick="location.href='{% url 'main' %}'">To main page>></button>
{% endblock right_bar %}
{% block header %}
    {{ question_data.title }}
{% endblock header %}
{% block content %}
    <p>{{ question_data.content|linebreaks }}</p>
    <div class="right_bottom">
        {{ question_data.pub_date }}<br>
        <form id="like" method="POST" class="like">
            Likes: {{ question_data.likes }}
            <input type="button" value="Like">
            <input type="hidden" id='object_type' value="question">
            <input type="hidden" id='object_id' value="{{ question_data.id }}">
        </form><br>
        Author: {{ question_data.author }}
    </div>
    {% if user.is_authenticated %}
        <h2>Write comment:</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="error">{{ comment }}</div>
            {{ form.content.label_tag }}<br>
            {{ form.content }}
            <div class="error">{{ form.errors }}</div>
            <input type="submit" value="Send">
        </form>
    {% endif %}
    <h2>Recent comments:</h2>
    {% if question_data.comments %}
        {% for comment in question_data.comments %}
            {{ comment.content|linebreaks }}<br>
            <div style="font-size:75%;">
                {{ comment.pub_date }} Likes: {{ comment.likes_value }}
                <form id="like" method="POST" class="like">
                    <input type="button" value="Like">
                    <input type="hidden" id='object_type' value="comment">
                    <input type="hidden" id='object_id' value="{{ comment.id }}">
                </form> Author: {{ comment.author_name }}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <b>Be the first!</b>
    {% endif %}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script>
        $('#like, _').click(function(){
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '{{ request.get_full_path }}',
                headers:{'accept': 'ajax_like'},
                data: {'csrfmiddlewaretoken': '{{ csrf_token }}', 'object_type': $('#object_type').val(), 'object_id': $('#object_id').val()},
                success: function(response){
                    console.log('Ajax worked ok.');
                    alert(response.likes_value);
                    console.log(response.likes_value);
                },
                error: function(rs, e){
                    console.log('Error in ajax!');
                    console.log(rs.c);
                }
            });
        })
    </script>
{% endblock content %}
</html>