<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
{% load static %}
{% block head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/right_bottom_text.css' %}">
    <link rel="stylesheet" href="{% static 'css_styles/post_default.css' %}">
{% endblock head_extra %}
{% block right_bar %}
    <button onclick="location.href='http://127.0.0.1:8000'">To main page>></button>
{% endblock right_bar %}
{% block header %}
    {{ question_data.title }}
{% endblock header %}
{% block content %}
    <p>{{ question_data.content|linebreaks }}</p>
    <div class="right_bottom">
        {{ question_data.pub_date }}<br>
        Likes: {{ question_data.likes }}<br>
        Author: {{ question_data.author }}
    </div>
    <h2>Write comment:</h2>
    <form method="POST">
        {% csrf_token %}
        <div class="error">{{ comment }}</div>
        {{ form.content.label_tag }}<br>
        {{ form.content }}
        <div class="error">{{ form.errors }}</div>
        <input type="submit" value="Send">
    </form>
    <h2>Recent comments:</h2>
    {% if question_data.comments %}
        {% for comment in question_data.comments %}
            {{ comment.content|linebreaks }}<br>
            <div style="font-size:75%;">
                {{ comment.pub_date }} Likes: {{ comment.likes_value }} Author: {{ comment.author_name }}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <b>Be the first!</b>
    {% endif %}
{% endblock content %}
</html>