<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    {% block head_extra %}{% endblock head_extra %}
    <link rel="stylesheet" href="{% static 'css_styles/main.css' %}">
    <title>{% block title %}Ask and answer.{% endblock title %}</title>
</head>
<body>
    <dir class="sidebar">{% block right-bar %}{% endblock right-bar %}</dir>
    <h1>{% block header %}Here empty:({% endblock header %}</h1>
    <dir>{% block content %}Here empty:({% endblock content %}</dir>
    <footer>
        {% if user.is_authenticated %}
            Authenticated: {{ user.username }}<br>
        {% endif %}
        {% now 'j F Y l h:iA' %}<br>
        <address>Poni22poni23@yandex.ru</address>
    </footer>
</body>
</html>